.rdw-editor-wrapper {
    border: 1px solid #e0e0e0;
    padding: 5px;
    border-radius: 3px;

    .DraftEditor-root {
        padding: 20px;
    }
}
.rdw-image-modal {
    left: -215px;
}
.rdw-embedded-modal {
    left: -124px;
}
